NODE_ENV=development
PORT=3001
SERVICE_NAME=product-service

# Thay mật khẩu và project id thật bằng các chữ hướng dẫn
#DATABASE_URL="postgresql://postgres.[YOUR_PROJECT_ID]:[YOUR_PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# PostgreSQL — lấy từ Supabase dashboard
DATABASE_URL="postgresql://postgres.[YOUR_PROJECT_ID]:[YOUR_PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"